<div>
  <h3>Menú</h3>
  <ul>
    <app-elemento-menu
      *ngFor="let dato of listaDatos; let i = index"
      (seleccion)="onSelected($event)"
      [ngClass]="{'red': isEven(i)}"
      [textoBase]="dato"></app-elemento-menu>
  </ul>
  <app-detail [detail]="detailSelected"></app-detail>

</div>
